[user]
	email = mail@jannesbrunner.de
	name = Jannes Brunner
[includeIf "gitdir:~/Documents/work/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/Documents/private/"]
  path = ~/.gitconfig-personal
[push]
	default = matching
[core]
	whitespace = cr-at-eol
	editor = code --wait
	# https://stackoverflow.com/questions/5834014/lf-will-be-replaced-by-crlf-in-git-what-is-that-and-is-it-important
	autocrlf = input
	excludesfile = /Users/jay/.gitignore_global
[alias]
	lo = log --oneline --graph
	ss = status --short
	dt = difftool
	mt = mergetool
	syncr = remote update --prune
	fetcha = fetch --all --prune
	branchvv = branch -vv
	sut = --set-upstream-to	

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[mergetool]
	keepBackup = false	
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
	
[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
  	frag = magenta bold
	old = red bold
	new = green bold
	
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential "helperselector"]
	selected = wincred
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main


