[user]
	email = jannes.brunner@student.htw-berlin.de
	name = jannesbrunner
[push]
	default = matching
[core]
	whitespace = cr-at-eol
[alias]
	lo = log --oneline --graph
	ss = status --short
	dt = difftool
	mt = mergetool	
[credential]
	helper = cache
[merge]
	tool = meld

[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[difftool]
	prompt = false

[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
